<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<style type="text/css">
            label {
                font: normal 20px sans-serif !important;
            }
	</style>
</head>

<img src="mono.png" align="right">
<img src="logo.gif" align="top"  width="200" height="100">

<body background="fondo.jpg">

<style>
    div {
    	position: absolute;
		width: 700px;
		height: 770px;
		z-index: 15;
		top: 20%;
		left: 30%;
		margin: -100px 0 0 -150px;
		border: 2px solid #000;
		padding: 3em

    }
  </style>

	<div ng-app="myApp" ng-controller="myCtrl">
		<h1>Instrucciones</h1>
		<label>Lea atentamente todas las indicaciones y responda acordemente, ya que con esta encuesta se obtiene un mejor resultado en el aprendizaje.</label>
		<label>Ordena las cuatro opciones de cada frase según pienses que se ajustan a tu manera de aprender algo nuevo. Numera con un 4 la terminación que mejor se ajuste a tu forma de aprender y con un 1 la que peor se ajuste. Asegúrate de asignar un número a todas las terminaciones de cada una de las 12 frases. </label><br><br>
		<label>1. Cuando aprendo...</label><br>

		<select>
		<option ng-repeat="x in names">{{x}}</option>
		</select>
		<label> me gusta vivir sensaciones </label><br>

		<select>
		<option ng-repeat="x in names">{{x}}</option>
		</select>
		<label>me gusta pensar sobre ideas</label><br>

		<select>
		<option ng-repeat="x in names">{{x}}</option>
		</select>
		<label>me gusta pensar estar haciendo cosas</label><br>

		<select>
		<option ng-repeat="x in names">{{x}}</option>
		</select>
		<label>me gusta pensar observar y escuchar</label><br><br>

		<!-- Segunda Pregunta -->
		<label>2. Aprendo mejor cuando...</label><br>

		<select>
		<option ng-repeat="x in names">{{x}}</option>
		</select>
		<label> escucho y observo cuidadosamente </label><br>

		<select>
		<option ng-repeat="x in names">{{x}}</option>
		</select>
		<label>confío en el pensamiento lógico</label><br>

		<select>
		<option ng-repeat="x in names">{{x}}</option>
		</select>
		<label>confío en mi intuición y sentimientos</label><br>

		<select>
		<option ng-repeat="x in names">{{x}}</option>
		</select>
		<label>trabajo duro para lograr hacer las cosas</label><br>

		<a style="float: right" class="btn btn-primary btn-lg" href="encuesta.html" role="button">Finalizar</a>
	</div>
	<script>
		var app = angular.module('myApp', []);
		app.controller('myCtrl', function($scope) {
		    $scope.names = ["1", "2", "3", "4"];
		});
	</script>

</body>
</html>