<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<style>
body {
    background-color: lightblue;
}
</style>
<body >
<style>
 div {
  border: 2px solid #CCC;
  padding: 1em;
  margin: 10em 0 3em 4em;
  width: 300px;
}
</style>
<div ng-app="" name="myForm">
  <p>email: <input type="email" name="myAddress" ng-model="text">
    <span ng-show="myForm.myAddress.$error.email">Not a valid e-mail address</span>
  <p>pass: <input type="password" ng-model="password"></p>
  <button ng-click="1">Registrarse</button>
   <button ng-click="1">Iniciar sesion</button>
</div>

</body>
</html>