<!DOCTYPE html>
<html >
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <title>Node.js Task List App</title>

    <!-- Bootstrap core CSS -->
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../public/stylesheets/cover.css" rel="stylesheet">  </head>
  <style>
    div.encuesta {
    position: absolute;
    width: 700px;
    height: 2430px;
    z-index: 15;
    top: 100%;
    left: 20%;
    margin: -100px 0 0 -150px;
    border: 2px solid #999;
    padding: 3em

    }
    div.registro {
    position: absolute;
    width: 600px;
    height: 350px;
    z-index: 15;
    top: 40%;
    left: 19%;
    margin: -150px 0 0 250px;
    padding: 3em

    }
    div.encabezado {
    position: absolute;
    width: 600px;
    height: 350px;
    z-index: 15;
    top: 15%;
    left: 19%;
    margin: -150px 0 0 250px;
    padding: 3em

    }

    h1.singup {
    position: absolute;
    width: 600px;
    height: 350px;
    z-index: 15;
    top: 28%;
    left: 38%;
    margin: -150px 0 0 -100px;
    padding: 3em

    }
    input.tipo {
    position: absolute;
    width: 600px;
    height: 350px;
    z-index: 15;
    top: 28%;
    left: 400%;
    margin: -150px 0 0 -100px;
    padding: 3em

    }
    #espacio1{
    padding:0;
    width: 45%;
    float:left;
    background:transparent;
    height:auto;
    border:solid black 2px;
    margin-right:10px;
    }
  </style>
  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="encabezado">
          <h3 class="masthead-brand">Plataforma de Aprendizaje</h3>
          <nav>
            <ul class="nav masthead-nav">
              <li><a href="/">Home</a></li>
              <li><a href="/showSignInPage">SignIn</a></li>
              <li class="active"><a href="#">SignUp</a></li>
            </ul>
          </nav>
        </div>
        <div class="content">
          <div id="espacio1" width="144px" height="192px" >
            <form name="input" action="http://localhost:9000/insertuser"  method="post">
              <p class="lead">
                <h1>Sign Up</h1>
                Nombre <input  STYLE="color: #000000" type="text" name="nombre" required></br>
                Apellido <input  STYLE="color: #000000" type="text" name="apellido" required></br>
                Email<input    STYLE="color: #000000" type="email" name="mail" required></br>
                Pass <input type="password" STYLE="color: #000000" type="text" name="pass" required></br>
                <input id="boton" disabled="true" type="submit"  value="Finalizar" STYLE="color: #000000"></input>
                <input  id="perfil" type="hidden" name="perfil" value="" ></br>
                (Para poder finalizar primero debe contestar la breve encuesta)

              </p>
            <form>
          </div>                
          <div id="espacio1" width="144px" height="144px" ng-app="myApp" ng-controller="myCtrl">
            <h1>Instrucciones</h1>
            <label>Lea atentamente todas las indicaciones y responda acordemente, ya que con esta encuesta se obtiene un mejor resultado en el aprendizaje.</label>
            <label>Ordena las cuatro opciones de cada frase según pienses que se ajustan a tu manera de aprender algo nuevo. Numera con un 4 la terminación que mejor se ajuste a tu forma de aprender y con un 1 la que peor se ajuste. Asegúrate de asignar un número a todas las terminaciones de cada una de las 12 frases. </label><br><br>
           


            <div id="pregunta"></div>
            <div id="respuestas" style="text-align:left;"></div>
            <input type="button" value="siguiente" onclick="comprobar()">
            <script>
              var preguntas = [
              "1. Cuando aprendo...",
              "2. Aprendo mejor cuando...",
              "3. Cuando estoy aprendiendo...",
              "4. Yo aprendro...",
              "5. Cuando aprendo...",
              "6. Cuando estoy aprendiendo...",
              "7. Yo aprendo mejor de...",
              "8. Cuando aprendo...",
              "9. Aprendo mejor cuando...",
              "10. Cuando estoy aprendiendo...",
              "11. Cuanndo aprendo...",
              "12. Aprendo mejor cuando..."

              ];
              var respuestas = [
              ["me gusta vivir sensaciones", "me gusta pensar sobre ideas", "me gusta pensar estar haciendo cosas", "me gusta pensar observar y escuchar"],
              ["escucho y observo cuidadosamente", "confío en el pensamiento lógico", "confío en mi intuición y sentimientos", "trabajo duro para lograr hacer las cosas"],
              ["Tiendo a usar el razonamieto", "Soy responsable con lo que hago", "Soy callado y reservado", "Tengo fuertes sensasiones y reacciones"],
              ["Sintiendo", "Haciendo", "Observando", "Pensando"],
              ["Estoy abierto a nuevas experiencias", "Observo todos los aspectos del asunto", "Me gusta analizar las cosas, descomponerlas en sus partes", "Me gusta probar e intentar hacer las cosas"],
              ["Soy una persona observadora", "Soy una persona activa", "Soy una persona intuitiva", "Soy una persona logica"],
              ["La observacion", "La relacion con otras personas", "Las teorias racionales", "La oportunidad de probar y practicar"],
              ["Me gusta ver el resultado de mi trabajo", "Me gustan las ideas y las teorias", "Me tomo mi tiempo antes de actuar", "Me siento personalmente involucrado en las cosas"],
              ["Confio en mis observaciones", "Confio en mis sentimientos", "Puedo probar por mi cuenta", "Confio en mis ideas"],
              ["Soy una persona reservada", "Soy una persona receptiva", "Soy una personaa responsable", "Soy una persona racional"],
              ["Me involucro", "Me gusta observar", "Evaluo las cosas", "Me gusta ser activo"],
              ["Analizo ideas", "Soy receptivo y abierto", "Soy cuidadoso", "Soy practico"]

              ];
              var aux = 0;
              var ec = 0;
              var or = 0;
              var ca = 0;
              var ea = 0;
              var perfil = "";
              jugar();
              var indicie_respuesta_correcta;
              function jugar(){
                var respuestas_posibles = respuestas[aux];
                var posiciones = [0,1,2,3];
                var ya_se_metio = false;
                var txt_respuestas="";
                txt_respuestas += '<select id="opciones1" name="opciones1">'+
                                    '<option value="1">1</option>'+
                                    '<option value="2">2</option>'+
                                    '<option value="3">3</option>'+
                                    '<option value="4">4</option>'+
                                    '</select><label>'+respuestas[aux][0]+'</label><br>';

                txt_respuestas += '<select id="opciones2" name="opciones2">'+
                                    '<option value="1">1</option>'+
                                    '<option value="2">2</option>'+
                                    '<option value="3">3</option>'+
                                    '<option value="4">4</option>'+
                                    '</select><label>'+respuestas[aux][1]+'</label><br>';

                txt_respuestas += '<select id="opciones3" name="opciones3">'+
                                    '<option value="1">1</option>'+
                                    '<option value="2">2</option>'+
                                    '<option value="3">3</option>'+
                                    '<option value="4">4</option>'+
                                    '</select><label>'+respuestas[aux][2]+'</label><br>';

                txt_respuestas += '<select id="opciones4" name="opciones4">'+
                                    '<option value="1">1</option>'+
                                    '<option value="2">2</option>'+
                                    '<option value="3">3</option>'+
                                    '<option value="4">4</option>'+
                                    '</select><label>'+respuestas[aux][3]+'</label><br>';
                
               
                document.getElementById("respuestas").innerHTML = txt_respuestas;
                document.getElementById("pregunta").innerHTML = preguntas[aux];
                

              }
              function comprobar(){
                //var respuesta = $("input[type=radio]:checked").val();
                var ecAux = parseInt(document.getElementById("opciones1").value);
                var orAux = parseInt(document.getElementById("opciones2").value);
                var caAux = parseInt(document.getElementById("opciones3").value);
                var eaAux = parseInt(document.getElementById("opciones4").value);
              
                if(aux==12){
                  tipo_usuario();
                  document.input.perfil.value = perfil;
                  document.getElementById("boton").disabled = false;
                }
                
                
                else if(ecAux==orAux||ecAux==caAux||ecAux==eaAux||orAux==caAux||orAux==eaAux||caAux==eaAux){
                  alert("No se pueden repetir valores");
                  jugar();

                }
                else{
                  aux+=1;
                  ec+=ecAux;
                  or+=orAux;
                  ca+=caAux;
                  ea+=eaAux;
                  jugar();
                }   
              }
              function tipo_usuario() {
                var caec= (ca-ec);
                var eaor= (ea-or);
                if (caec < 0  && eaor < 0){
                  perfil = "convergente";
                  
                }
                else if(caec < 0 && eaor > 0){
                  perfil = "asimilador";
                  
                }
                else if(caec > 0 && eaor > 0){
                  perfil = "adaptador";
                  
                }
                else if(caec > 0 && eaor < 0){
                  perfil = "divergente";
                  
                }
                else{
                  perfil = "nada";
                  
                }
              }

            </script>

            <br>
            
            <br><br><br>
          </div>
        </div>
          <div class="mastfoot">
            <div class="inner">
              <p>Plataforma de Aprendizaje, by fam</p>
            </div>
          </div>
        </div>
      </div>
      
  </body>
</html>