<div class="content" ng-controller="editarOk">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Editar Perfil</h4>
                            </div>
                            <div class="content">
                                <form id="formulario" name="formulario" ng-submit="editarPerfil()" ng-hide="editarOk">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                <label>Mail</label>
                                                <input type="text" class="form-control" name="nombre" ng-model="alumno.id_mail" disabled>
                                            </div>
                                        </div>
                                    </div>
                                  
                                    <div class="row">
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                <label>Nombre</label>
                                                <input type="text" class="form-control" name="nombre" ng-model="alumno.nombre">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                <label>Apellido</label>
                                                <input type="text" class="form-control" name="apellido" ng-model="alumno.apellido">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                <label>Contraseña</label>
                                                <input type="password" class="form-control" name="pass" ng-model="alumno.pass">
                                            </div>
                                        </div>
                                    </div>
                                
                                    <button type="submit" class="btn btn-info btn-fill">Guardar cambios</button>
                                    <div class="clearfix"></div>
                                </form>

                                <div ng-show="editarOk">

							        <h3>¡Perfil editado correctamente!</h3><br>
							        <button type="submit" class="btn btn-info btn-fill" onClick="history.go(0)">Volver</button>
                                    <div class="clearfix"></div>

								</div>

                            </div>
                        </div>
                    </div>
                    

                </div>
            </div>
        </div>