<h1>Plataforma de Aprendizaje</h1>

<h4>Bienvenido a nuestra nueva plataforma de aprendizaje, aquí podrás estudiar de una manera mucho más cómoda y práctica para ti, ya que la forma en que se mostrará el material de estudio será la más adecuada de acuerdo a tu forma de aprender. Se mostrarán contenidos como por ejemplo:</h4>

<ul>
    <h4><li>Corriente eléctrica</li></h4>
    <h4><li>Ley de Coulomb</li></h4>
    <h4><li>Circuitos eléctricos</li></h4>
    <h4><li>Leyes de Kirchhoff</li></h4>
</ul>


<h4>Esperamos que esta plataforma te sea útil y sea utilizada de buena manera. Éxito en tus evaluaciones!</h4>